@model IEnumerable< GaleriApp.Models.AracTuru>

@if(TempData["Bilgi"] != null)
{
    <h6 style="color:red">@TempData["Bilgi"]</h6>
}
<div class="container">

    <div class="row pt-3 pb-4">

        <div>
            <h2 style="color:dimgrey">Araç Türü Listesi</h2>
        </div>

    </div>

    <table class="table table-bordered">
        <thead>
           <tr>
               <th style="color:darkblue">Id</th>
               <th style="color:darkblue">Kasa Tipi</th>
               <th colspan="2"></th>
               <th></th>
           </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.KasaTipi</td>
                    <td><a asp-controller="AracTuru" asp-action="Update" asp-route-id="@item.Id" style="width:200px" class="btn btn-lg btn-warning">Güncelle</a></td>
                    <td><a asp-controller="AracTuru" asp-action="Delete" asp-route-id="@item.Id" style="width:200px" class="btn btn-lg btn-danger">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="AracTuru" asp-action="Create" type="button" class="btn btn-lg btn-success">Arac Turu Ekle</a>
        </div>
        
    </div>
   
</div>

